mixin btn(options)
    - let {text, type, title, link, isBordered, isSmall} = options
    - let classNames = "btn" + (isBordered ? ' btn--bordered' : '') + (isSmall ? ' btn--small' : '')
    - link = link ? link : null
    
    if link
        a(
            class=classNames 
            href=link
        ) !{text}
    else
        button(
            class=classNames 
            disabled=disabled 
            title=title 
            type=type
        ) !{text}